.contact-item {
  width: 100%;
  margin: 1rem 0;
}

.right-items {
  margin-left: 2rem;
}

.contact-item .contact img {
  padding: 1rem;
  border: 1px solid #2e344e;
  margin-left: 2rem;
}

.contact-item .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background-color: #191d2b;
}

.ContactPage {
  display: flex;
}

.map-sect {
  width: 90%;
  padding: 1rem;
  background-color: #191d2b;
}

.map-sect iframe {
  width: 100%;
  height: 100%;
}

.contact-section {
  width: 100%;
}

.contact-section {
  margin-left: 2rem;
}
